@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove all styles from #app to let 
  your components control the layout. 
*/
#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* You can also remove this entire @media block 
  if it's not essential for other pages.
*/
@media (min-width: 1024px) {
  body {
    /* These styles might also be unnecessary */
    /* display: flex; */
    /* place-items: center; */
  }
}
